body {
  background-color: #f6c6ea;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 40%;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

/* CLASS SELECTORS */
