body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}


h1 {
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: 'Yellowtail', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

/**********************CLASS STYLING*************************/
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  background-color: #5F939A;
  border: 10px;
  position: relative;
  padding-top: 100px;
}

.profile-pic {
  width: 10%;
  margin-top: 20px;
}
.skill-img {
  float: left;
  width: 10%;
  border-radius: 50%;
  margin-right: 30px;
}

.programming {
  float: left;
  width: 10%;
  margin-right: 30px; 
}

.programmer {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.sub-heading {
  font-weight: normal;
}

.middle-container {
}

.bottom-container {
}

/**********************ID STYLING*************************/
