body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}


h1 {
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: 'Yellowtail', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
    line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
/**********************CLASS STYLING*************************/
.intro {
  width: 30%;
  margin: auto;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 40px;
  top: 50px;
}

.top-container {
  background-color: #5F939A;
  border: 10px;
  position: relative;
  padding-top: 100px;
}

.profile-pic {
  width: 10%;
  margin-top: 20px;
}
.skill-img {
  float: left;
  width: 10%;
  border-radius: 50%;
  margin-right: 30px;
}

.programming {
  float: left;
  width: 10%;
  margin-right: 30px;
}

.programmer {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.sub-heading {
  font-weight: normal;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
   background: #145D62;
   background-image: -webkit-linear-gradient(top, #145D62, #16E7D4);
   background-image: -moz-linear-gradient(top, #145D62, #16E7D4);
   background-image: -ms-linear-gradient(top, #145D62, #16E7D4);
   background-image: -o-linear-gradient(top, #145D62, #16E7D4);
   background-image: -webkit-gradient(to bottom, #145D62, #16E7D4);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #F1F3F6;
   font-family: Verdana;
   font-size: 40px;
   font-weight: 100;
   padding: 29px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #23B7BA 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #C6E8EA;
   background-image: -webkit-linear-gradient(top, #C6E8EA, #0D3D3A);
   background-image: -moz-linear-gradient(top, #C6E8EA, #0D3D3A);
   background-image: -ms-linear-gradient(top, #C6E8EA, #0D3D3A);
   background-image: -o-linear-gradient(top, #C6E8EA, #0D3D3A);
   background-image: -webkit-gradient(to bottom, #C6E8EA, #0D3D3A);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
/**********************ID STYLING*************************/
